* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60;
    background-color: #F7F8FC;
    color: lab(27.1134 -0.956401 -12.3224);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 5%;
}

.logo {
    background-image: url(/SMIT\ logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid lab(27.1134 -0.956401 -12.3224);
}

.nav-address {
    width: 50%;
    font-size: 0.90rem;
    cursor: pointer;
}

.nav-address p {
    display: inline;
    margin-left: 25px
}

.nav-address button {
    font-size: medium;
    background-color: #0B73B7;
    color: #fff;
    padding: 8px 20px;
    border-radius: 500px;
    margin-left: 20px;
    border: none;
}

/* HERO-SECTION */
.hero-section {
    display: inline-block;
    background-color: #F7F8FC;
    justify-items: center;
    width: 100%;
}

.hero-title1 {
    color: #212121;
    margin: 40px 0px 0px;
    font-size: x-large;
}

.hero-title2 {
    font-size: x-large;
    color: #0B73B7;
    text-align: center;
}

.hero-title2 p {
    color: #686868;
    margin: 8px 16.5px 0px;
    font-size: large;
}

.hero-img img {
    height: 35px;
    justify-content: center;
    margin: 8px 0;
}

.hero-button1 button {
    font-size: medium;
    background-color: #0B73B7;
    color: #fff;
    padding: 8px 20px;
    border-radius: 500px;
    border: none;
}

.hero-display {
    display: flex;
}

.hero-video iframe {
    margin: 70px 20px 40px 20px;
    border-radius: 20px;
}

/* Ratio-Section */
.ratio-section {
    width: 100%;
    padding: 50px 0;
    background: linear-gradient(to right, #167bb7, #4fa77c, #9ac54f);
}

.ratio-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.ratio-box {
    width: 25%;
    color: #fff;/
}

.ratio-box h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 8px;
}

.ratio-box p {
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.9;
}

/* BIO-AREA */
.bio-area {
    background-color: #F7F8FC;
    height: 500px;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.bio-section {
    margin-top: 220px;
}

.bio-section button {
    background-color: #0B73B7;
    color: #fff;
    font-weight: 700;
    font-size: small;
    margin-bottom: 4px;
    border-radius: 500px;
    border: none;
    padding: 6px 20px;
}

.course-section {
    background-color: #F7F8FC;
    min-height: 400px;
    text-align: center;
    justify-items: center;
    padding: 30px 20px;
}

.course-section button {
    margin-top: 30px;
    background-color: #F7F8FC;
    color: #686868;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
}

.course-section button:hover {
    background-color: #0B73B7;
    color: #fff;
}

/* Certificate-display */
.course-display {
    display: flex;
    padding: 60px 10px;
    text-align: center;
    padding: 20px;
}

.course-display img {
    margin-left: 60px;
}

/* .course-display h4{
    margin-left: auto;
} */
.course-display p {
    color: #686868;
    font-size: smaller;
    margin-top: 10px;
}

.course-display button {
    background-color: #0B73B7;
    color: #fff;
    border-radius: 100px;
}

/* Compuses Area */
.campuses-area {
    display: inline-block;
    text-align: center;
    background-color: #F7F8FC;
    min-height: 500px;
    width: 100%;
    padding: 80px 0 40px 0;
}

.campuses-area button {
    padding: 4px 16px;
    background-color: #0B73B7;
    color: #fff;
    font-weight: bold;
    border-radius: 100px;
    border: none;
}

.campuses-area p {
    margin-top: 10px;
    color: #686868;
}

.campuses-button {
    height: 50px;
    background-color: #F7F8FC;
    text-align: center;
}

.campuses-button button {
    padding: 8px 20px;
    background-color: #0B73B7;
    color: #fff;
    font-weight: bold;
    border-radius: 100px;
    border: none;
}

/* .Vision-Section */
.vision-section {
    background-color: #F7F8FC;
    min-height: 200px;
    padding: 40px 0px 20px 0;
    text-align: center;
}

.vision-section button {
    background-color: #0B73B7;
    color: #fff;
    padding: 4px 16px;
    border-radius: 100px;
    border: none;
    margin-bottom: 10px;
    font-size: small;
    font-weight: bold;
}

.vision-section p {
    color: #686868;
    font-size: large;
}

/* Last Section */
.last-section {
    background-color: #F7F8FC;
    min-height: 300px;
    text-align: center;
    padding: 10px 300px;

}

.last-container {
    padding: 30px;
    justify-content: center;
    background: linear-gradient(to right, #167bb7, #4fa77c, #9ac54f);
    border-radius: 30px;
}
.container-section h1 {
    color: #fff;
    margin-bottom: 30px;
}

.container-section p {
    color: #fff;
    font-size: larger;
    margin-bottom: 30px;
}

.container-section button {
    background-color: #fff;
    color: #0B73B7;
    padding: 12px 20px;
    border-radius: 100px;
    font-size: small;
    font-weight:550;
    border: none;
}