* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    min-height: 20px;
    background: #1f3a5f;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

.nav-title {
    display: flex;
}

.nav-title h5 {
    font-size: x-small;
    font-weight: 100;
}

.nav-title h6 {
    font-size: xx-small;
    font-weight: 100;
    margin-left: 10px;
}

.nav-search {
    display: flex;
}

.nav-search input {
    padding: 2px 0px 2px 4px;
    font-weight: 100;
    font-size: xx-small;
    border-radius: 2px;
    border: none;
}

.nav-search button {
    margin-left: 2px;
    padding: 4px 3px;
    font-size: xx-small;
    border-radius: 2px;
    background: none;
    color:#198754;
    border: 0.1px solid #198754;
}

/* Hero-Section */
.hero-section {
    padding: 20px 100px;
    text-align: center;
}

.hero-section h5 {
    flex-direction: row;
    font-size: x-small;
    font-weight: 550;
    /* white-space: nowrap; 
    overflow: hidden;      
    text-overflow:ellipsis; */
}

.hero-section hr {
    width: 100%;
    border: none;
    border-top: 0.1px solid black;
    margin-top: 10px;
}

/* Calculating Area */
.calculating-area {
    padding: 10px 100px;
    /* min-height: 200px;    */
}

.box-area {
    border: 1px solid #686868;
    padding: 10px 20px;
}

.box-area button {
    background-color: red;
    color: #FFF;
    font-size: 8px;
    /* font-weight: 100; */
    padding: 2px 3px;
    border-radius: 2px;
    border: none;
}
/* Original Statment */
.statment-area{
    padding: 10px 100px;
    text-align: center;
    font-size: small;
    font-weight: 550;
}
.output-box {
    height: 25px;
    border: 0.1px solid black;
    background:none;
    margin-bottom: 5px;
}

.statment-area button{
    font-size: 7px;
    color: #686868;
    border: 0.1px solid #686868;
    border-radius: 2px;
    padding: 2px 3px;
    background: none;
}
/* Result-Area */
.result-area{
    padding: 10px 100px;
    text-align: center;
    font-size: small;
    font-weight: 550;
}
.result-box {
    height: 25px;
    border: 0.1px solid black;
    background:none;
    margin-bottom: 5px;
}

.result-area button{
    font-size: 7px;
    color: #686868;
    border: 0.1px solid #686868;
    border-radius: 2px;
    padding: 3px 3px;
    background: none;
}
/* FOOTER */
footer {
    background: #1f3a5f;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 7px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
