* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box
}

body {
    background-image: url(./image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

.navigation-bar {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    padding: 20px 30px;
}

.nav-tittle {
    color: orange;
    font-size: large;
    /* line-height: 80px; */
    margin-left: 25px;
}

.nav-navigation p {
    display: inline-block;
    font-size: larger;
    font-weight: 900;
    padding: 5px 0;
    /* line-height: 80px; */
    margin-left: 40px;
    color: #fff;
}

.nav-search{
    display: flex;
   align-items: center;
   /* line-height: 80px; */
    border: orange 2px solid;
   height: 41px;
   border-radius: 5px;
}
.nav-search input {
    /* margin-top: 21px; */
    font-size: 1rem;
    border: orange;
    padding:  10px 20px ;
    border: none;
    background-color: ;
}
.nav-search button{
    background-color: orange;
    padding:10px 16px;
    color: #fff;
    font-size: 1rem;
    border: none;
}
.hero-section .hero-left{
    display: inline-block;
    padding: 200px 50px;
    justify-content: space-evenly;
}
.hero-section  .hero-left h1{
    color: #fff;
}
.hero-section p{
    color: #fff;
    font-size: large;
    font-weight: 300;
}
.hero-section .hero-left button{
    background-color: rgb(236, 157, 9);
    color: black;
    margin-top: 20px;
    padding: 8px 24px;
    border-radius: 10px;
    border: none;
}